.design{
    background-color: coral;
    align-content: center;
    justify-content: center;
}
.design1{
    text-decoration: underline;
    align-content: center;
    justify-content: center;

}
.design2{
    text-align: center;
    text-decoration: dotted;
    
}